.body-content {
    margin-top: 72px;
}

td, th {
    padding: 10px;
}

th {
    text-align: center;
}

td {
    vertical-align: top;
}

tr:nth-child(odd) {
    background-color: #e4e4e4;
}

.centeredTable {
    margin-left: auto;
    margin-right: auto;
}

table.job-listing {
    margin: 30px auto;
    border: 1px solid #e4e4e4;
    width: 80%;
}

table.job-listing td:first-child {
    font-weight: bold;
}

table.job-listing td:last-child {
    width: 80%;
}

label {
    margin-right: 15px;
}

.centered {
    text-align: center;
}

p {
    vertical-align: top;
    margin-left: 30px;
}

.centeredTable {
    margin-left: auto;
    margin-right: auto;
}

div.job-listing {
    border: 1px solid #e4e4e4;
    width: 80%;
    background-color: #e4e4e4;
}

/* Center the button container */
.button-container {
    display: flex;
    justify-content: center; /* Centers the button horizontally */
    margin-top: 20px; /* Optional: adds space above the button */
}

.btn {
    padding: 8px 16px; /* Regular size with padding */
    background-color: #f0f0f0; /* Neutral gray background */
    color: #333; /* Dark text */
    border: 1px solid #ccc; /* Light border */
    border-radius: 5px;
    font-size: 14px; /* Regular font size */
}

.btn:hover {
    background-color: #e0e0e0; /* Lighter gray on hover */
}
