<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body class="container body-content">

<nav th:replace="~{fragments :: page-header}"></nav>

<h1>Add Quest</h1>

<form method="post" style="max-width:600px;" th:object="${quest}">
    <div class="form-group">
        <label th:for="*{name}">Name</label>
        <input class="form-control" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="*{flavorText}">Flavor Text</label>
        <input class="form-control" th:field="*{flavorText}" />
        <span th:errors="*{flavorText}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="*{questTags}">Quest Tags</label>
        <th:block th:each="questTag : ${questTags}">
            <input type="checkbox" th:field="*{questTags}" th:value="${questTag.id}" />
            <label th:for="${questTag.id}" th:text="${questTag.name}"></label>
        </th:block>
        <a th:href="@{'/questTags/add'}">Add QuestTags</a>
    </div>

    <input type="submit" value="Add Quest" />
</form>

</body>
</html>
