<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>

<body class="container body-content">

<!-- Header, consistent with view.html -->
<nav th:replace="~{fragments :: page-header}"></nav>

<form action="#" th:action="@{/delete}" method="post">

  <div>
    <div class="delete-container" style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px;">

      <!-- Delete Quests Section -->
      <div class="delete-category" style="border: 1px solid #ddd; padding: 10px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); text-align: left;">
        <h2>Quests</h2>
        <div>
          <label th:each="quest : ${quests}">
            <input type="checkbox" th:value="${quest.id}" th:name="'questIds'" />
            <span th:text="${quest.name}"></span>
          </label>
        </div>
      </div>

      <!-- Delete QuestTags Section -->
      <div class="delete-category" style="border: 1px solid #ddd; padding: 10px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); text-align: left;">
        <h2>Quest Tags</h2>
        <div>
          <label th:each="questTag : ${questTags}">
            <input type="checkbox" th:value="${questTag.id}" th:name="'questTagIds'" />
            <span th:text="${questTag.name}"></span>
          </label>
        </div>
      </div>
      </div>

    </div>
  </div>

  <button type="submit"
          style="margin-top: 20px;
               display: block;
               background-color: #f0f0f0;
               color: #333;
               border: 1px solid #ccc;
               border-radius: 5px;
               font-size: 20px;
               text-align: center;
               width: 120px;
               margin-left: auto;
               margin-right: auto;
               transition: background-color 0.3s, color 0.3s;"
          onmouseover="this.style.backgroundColor='#e74c3c'; this.style.color='white';"
          onmouseout="this.style.backgroundColor='#f0f0f0'; this.style.color='#333';">

    Delete
  </button>
</form>

</body>
</html>
