<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}" method = "post">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <table class="quest-listing">
        <tr th:each="quest : ${quests}">
            <td>
                <p>
                    Quest Id:
                    <a th:href="@{'/view/' + ${quest.id}}" th:text="${quest.id}"></a>
                </p>
                <p th:text="${'Name: ' + quest.name}"></p>
                <p>
                    QuestTags:
                    <ul th:each="questTag : ${quest.questTags}">
                      <li>
                          <a th:href="@{'/questTags/view/' + ${questTag.id}}" th:text="${questTag.name}"></a>
                      </li>
                    </ul>
                </p>

            </td>
        </tr>
    </table>

</div>

</body>
</html>
