<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>

<body class="container  body-content">
<h1 th:text="${'Quest: ' + quest.name}">Default Title</h1>

<nav th:replace="~{fragments :: page-header}"></nav>

<div class="quest-listing">
    <p th:text="${'ID: ' + quest.id}"></p>
    <p th:text="${'Name: ' + quest.name}"></p>
    <p th:text="${'Flavor Text: ' + quest.flavorText}"></p>
    <p> QuestTags:
        <ul>
            <li th:each="questTag : ${quest.questTags}">
                <a th:href="@{'/questTags/view/' + ${questTag.id}}" th:text="${questTag.name}"></a>
            </li>
        </ul>
    </p>
</div>


</body>
</html>